* {
    margin: 0;
    padding: 0;
}

body {
    background: #A9A9A9	;
}

header {
    background: #808080	;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 0;
}

.container {
    max-width: calc(1200px + 30px);
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

