* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://image.freepik.com/free-vector/vintage-barbershop-logo_1415-661.jpg");
    background-size: 50%;
    /*background-size: cover;*/
    /*position: relative;*/
    /*display: flex;*/
    /*background: #A9A9A9	;*/
}

.header {
    background: #000000	;      /*#808080*/
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 0;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    /*box-sizing: border-box;*/
}

.knopka {
    display: flex;
    justify-content: center;
    padding: 2px;
}

/*.knopka {
    width: 100%;
}*/

.butt1 {
    background: #000000;
    color: white;
    font-size: 10pt;
    padding: 5px;
    width: 200px;
    height: 40px;
}

.header {
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 40px;
}

divhead {
    margin: 0 60px;
}









/*.knopkablock {
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.knopka {
    width: 30%;
    margin: 2px;
    height: 40px;
    color: #fff;
    font-size: 10px;
}*/





